

.navbar {
  background-color: grey
}


text-align: center;
}
.btn-outline-success {
  background-color: black;
}

.btn-outline-success:hover {

  background-color: black;

}
.btn-outline-success:active {

background-color: green;
}

.btn-outline-success:focus {
background-color: black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    position: relative;
    text-align: center;
  color: silver;
  }
  